django-transaction-hooks
-e git+https://github.com/allieus/python-modargs#egg=modargs
# Coffin>=0.3,<=0.3.8
-e git+https://github.com/allieus/coffin#egg=coffin
Jinja2
Lamson
# akismet
-e git+https://github.com/allieus/python-akismet#egg=akismet
beautifulsoup4
django-avatar>=2.0
django-celery>=3.0.11
django-compressor>=1.5
django-countries>=3.3
# django-followit>=0.0.7
-e git+https://github.com/allieus/django-followit#egg=followit
# django-keyedcache
-e hg+https://allieus@bitbucket.org/allieus/django-keyedcache#egg=keyedcache
django-kombu>=0.9.4
django-picklefield>=0.3.0
django-recaptcha>=1.0.3
django-robots>=1.1
# django-threaded-multihost
-e hg+https://allieus@bitbucket.org/allieus/django-threaded-multihost#egg=threaded_multihost
django-tinymce>=1.5.1b2
django>=1.8.5
html5lib>=0.90
longerusername
markdown2
mock>=1.0.1
oauth2
pyjwt
pystache>=0.3.1
python-openid
pytz
sanction>=0.3.1
unidecode
