{% import "macros.jinja" as macros with context %}

{% include "question/question_card.jinja" %}

{% if answers %}
    <div class="clean"></div>

    {% include "question/answer_tab_bar.jinja" %}

    <div class="clean"></div>
    <div class="pager">
        {{ macros.paginator(paginator_context, anchor='#sort-top') }}
    </div>
    <div class="clean"></div>

    {% if not settings.SHOW_ACCEPTED_ANSWER_FIRST %}
        {% if thread.has_accepted_answer() and answers and thread.accepted_answer != answers[0] %}
            <a class="best-answer-link" href="{{ thread.accepted_answer.get_absolute_url() }}">
                {% trans %}See the accepted answer{% endtrans %}
            </a>
        {% endif %}
    {% endif %} 

    {% for answer in answers %}
        {% include "question/answer_card.jinja" %}
        {% if loop.index == 1 and 'QUESTION_PAGE_ANSWER_BANNER'|show_block_to(request.user) %}
            <div class="banner">{{ settings.QUESTION_PAGE_ANSWER_BANNER|safe }}</div>
        {% endif %}
    {% endfor %}

    <div class="pager">
        {{ macros.paginator(paginator_context, anchor='#sort-top') }}
    </div>
    <div class="clean"></div>
{% elif settings.QUESTION_PAGE_ALWAYS_SHOW_ANSWER_BANNER %}
    <div class="clearfix"></div>
    {% if 'QUESTION_PAGE_ANSWER_BANNER'|show_block_to(request.user) %}
        <div class="banner">{{ settings.QUESTION_PAGE_ANSWER_BANNER|safe }}</div>
    {% endif %}
{% endif %}

{# buttons below cannot be cached yet #}

{% if new_answer_allowed %}
    {% include "question/new_answer_form.jinja" %}
{% else %}
    <div style="margin-top: 15px">
        <a
            class="button submit"
            href="{{ url("edit_answer", previous_answer.id) }}"
        >{{ settings.WORDS_EDIT_YOUR_PREVIOUS_ANSWER|escape }}</a>
        <span>{{ settings.WORDS_ONLY_ONE_ANSWER_PER_USER_IS_ALLOWED|escape }}</span>
        <div class="invisible">
            {# hidden because we still need js from the tinymce widget #}
            {% include "question/new_answer_form.jinja" %}
        </div>
    </div>
{% endif %}

{% if (not question.closed) and request.user.pk == question.author_id %}{# this is outside the form on purpose #}
    <input
        type="button"
        class="submit answer-own-question"
        id="fmanswer_button"
        value="{{ settings.WORDS_ANSWER_YOUR_OWN_QUESTION|escape }}" />
{% endif %}
