{% extends "two_column_body.jinja" %}

{% import "macros.jinja" as macros %}

{#
    this template is split into several
    blocks that are included here
    the blocks are within directory templates/main_page
    relative to the skin directory

    there is no html markup in this file
#}

{% block forejs %}
    {% include "main_page/custom_head_javascript.jinja" ignore missing %}
{% endblock %}

{% block title %}{% filter trim %}{% trans %}Questions{% endtrans %}{% endfilter %}{% endblock %}

{% block content %}
    {% include "main_page/tab_bar.jinja" %}
    {% include "main_page/headline.jinja" %}
    {# ==== BEGIN: main_page/content.jinja === #}
    <div id="question-list">
        {% include "main_page/questions_loop.jinja" %}
    </div>
    {# ==== END: main_page/content.jinja === #}
    {% include "main_page/paginator.jinja" %}
{% endblock %}

{% block sidebar %}
    {% include "main_page/sidebar.jinja" %}
{% endblock %}

{% block js_templates %}
    {{ macros.tag_widget('dummy', deletable=True) }}
{% endblock %}

{% block endjs %}
    <script type="text/javascript">
        {# cant cache this #}
        askbot['settings']['showSortByRelevance'] = {{ show_sort_by_relevance|as_js_bool }};
    </script>
    {% include "main_page/javascript.jinja" %}
    {% include "main_page/custom_javascript.jinja" ignore missing %}
{% endblock %}
